@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Black.woff2') format('woff2'),
       url('./fonts/Satoshi-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-BlackItalic.woff2') format('woff2'),
       url('./fonts/Satoshi-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Bold.woff2') format('woff2'),
       url('./fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-BoldItalic.woff2') format('woff2'),
       url('./fonts/Satoshi-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Italic.woff2') format('woff2'),
       url('./fonts/Satoshi-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Light.woff2') format('woff2'),
       url('./fonts/Satoshi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-LightItalic.woff2') format('woff2'),
       url('./fonts/Satoshi-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Medium.woff2') format('woff2'),
       url('./fonts/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-MediumItalic.woff2') format('woff2'),
       url('./fonts/Satoshi-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
       url('./fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Variable.woff2') format('woff2'),
       url('./fonts/Satoshi-Variable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-VariableItalic.woff2') format('woff2'),
       url('./fonts/Satoshi-VariableItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


.fondo {
  background: linear-gradient(208.4719273485145deg, rgb(31, 31, 31) 0%, rgb(44, 44, 44) 20.3125%, rgb(43, 43, 43) 23.800522089004517%, rgb(14, 14, 14) 62.338095903396606%);
}

.fondo2 {
  background: linear-gradient(131.833deg, rgba(43, 43, 43, 0.3) 0%, rgba(14, 14, 14, 0.3) 65.625%);
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background1.svg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-1{
  view-timeline-name: --reveal;

  animation-name: slideIn;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 45% cover 65%;
}